In [72]:
import pandas as pd

In [73]:
df=pd.read_csv('financial_loan.csv',sep=',',encoding='utf-8')

In [74]:
df

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11/2/2021,13/09/2021,13/04/2021,...,C4,60 months,Source Verified,30000,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,1/1/2021,14/12/2021,15/01/2021,...,E1,36 months,Source Verified,48000,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,5/1/2021,12/12/2021,9/1/2021,...,C5,36 months,Not Verified,50000,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25/02/2021,12/12/2021,12/3/2021,...,B2,60 months,Source Verified,42000,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,1/1/2021,14/12/2021,15/01/2021,...,A1,36 months,Verified,83000,0.0231,106.53,0.0603,3500,28,3835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,< 1 year,Joseph M Sanzari Company,C,MORTGAGE,11/7/2021,16/05/2021,16/05/2021,...,C1,60 months,Verified,100000,0.1986,551.64,0.1299,24250,33,31946
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,11/10/2021,16/04/2021,16/05/2021,...,C1,60 months,Verified,50000,0.0458,579.72,0.1349,25200,18,31870
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,11/9/2021,16/05/2021,16/05/2021,...,D5,60 months,Verified,65000,0.1734,627.93,0.1749,25000,20,35721
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,11/10/2021,16/05/2021,16/05/2021,...,D5,60 months,Verified,368000,0.0009,612.72,0.1825,24000,9,33677
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,11/7/2021,16/05/2021,16/05/2021,...,F3,60 months,Verified,80000,0.0600,486.86,0.2099,18000,7,27679

In [75]:
df.columns

Index(['id', 'address_state', 'application_type', 'emp_length', 'emp_title',
       'grade', 'home_ownership', 'issue_date', 'last_credit_pull_date',
       'last_payment_date', 'loan_status', 'next_payment_date', 'member_id',
       'purpose', 'sub_grade', 'term', 'verification_status', 'annual_income',
       'dti', 'installment', 'int_rate', 'loan_amount', 'total_acc',
       'total_payment'],
      dtype='object')

In [76]:
# List of date columns to check for null values
date_columns = ['issue_date', 'last_credit_pull_date', 'last_payment_date', 'next_payment_date']

# Check for null values in the specified date columns
null_dates = df[date_columns].isnull()

# Display rows where any of the date columns have null values
null_rows = df[null_dates.any(axis=1)]

print("Rows with null values in date columns:")
print(null_rows)

Rows with null values in date columns:
Empty DataFrame
Columns: [id, address_state, application_type, emp_length, emp_title, grade, home_ownership, issue_date, last_credit_pull_date, last_payment_date, loan_status, next_payment_date, member_id, purpose, sub_grade, term, verification_status, annual_income, dti, installment, int_rate, loan_amount, total_acc, total_payment]
Index: []

[0 rows x 24 columns]

In [77]:
from dateutil import parser

def convert_to_standard_date(date_str):
    try:
        # Parse the date using dateutil.parser with dayfirst=True to prioritize DD/MM/YYYY formats
        parsed_date = parser.parse(date_str, dayfirst=True)
        # Format the parsed date to the preferred format (YYYY-MM-DD)
        return parsed_date.strftime('%Y-%m-%d')
    except (ValueError, TypeError):
        # Return the original value if it cannot be parsed as a date
        return date_str

# Specify the columns in your existing DataFrame that contain dates
date_columns = ['issue_date', 'last_credit_pull_date', 'last_payment_date', 'next_payment_date']

# Apply the conversion to the specified date columns in-place
for col in date_columns:
    df[col] = df[col].apply(convert_to_standard_date)

In [78]:
# List of date columns to check for null values
date_columns = ['issue_date', 'last_credit_pull_date', 'last_payment_date', 'next_payment_date']

# Check for null values in the specified date columns
null_dates = df[date_columns].isnull()

# Display rows where any of the date columns have null values
null_rows = df[null_dates.any(axis=1)]

print("Rows with null values in date columns:")
print(null_rows)

Rows with null values in date columns:
Empty DataFrame
Columns: [id, address_state, application_type, emp_length, emp_title, grade, home_ownership, issue_date, last_credit_pull_date, last_payment_date, loan_status, next_payment_date, member_id, purpose, sub_grade, term, verification_status, annual_income, dti, installment, int_rate, loan_amount, total_acc, total_payment]
Index: []

[0 rows x 24 columns]

In [79]:
df

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,C4,60 months,Source Verified,30000,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,E1,36 months,Source Verified,48000,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,...,C5,36 months,Not Verified,50000,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,B2,60 months,Source Verified,42000,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,A1,36 months,Verified,83000,0.0231,106.53,0.0603,3500,28,3835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,< 1 year,Joseph M Sanzari Company,C,MORTGAGE,2021-07-11,2021-05-16,2021-05-16,...,C1,60 months,Verified,100000,0.1986,551.64,0.1299,24250,33,31946
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,2021-10-11,2021-04-16,2021-05-16,...,C1,60 months,Verified,50000,0.0458,579.72,0.1349,25200,18,31870
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,2021-09-11,2021-05-16,2021-05-16,...,D5,60 months,Verified,65000,0.1734,627.93,0.1749,25000,20,35721
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,2021-10-11,2021-05-16,2021-05-16,...,D5,60 months,Verified,368000,0.0009,612.72,0.1825,24000,9,33677
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,2021-07-11,2021-05-16,2021-05-16,...,F3,60 months,Verified,80000,0.0600,486.86,0.2099,18000,7,27679

In [83]:
df['issue_date'].head(20)

0     2021-02-11
1     2021-01-01
2     2021-01-05
3     2021-02-25
4     2021-01-01
5     2021-07-17
6     2021-11-19
7     2021-06-11
8     2021-09-02
9     2021-02-09
10    2021-07-22
11    2021-09-11
12    2021-08-11
13    2021-12-11
14    2021-10-11
15    2021-12-11
16    2021-12-02
17    2021-10-09
18    2021-12-12
19    2021-02-02
Name: issue_date, dtype: object

In [80]:
df.to_csv('financial_loan_cleaned.csv', index=False)